{% extends 'list.html' %}

{% load static %}

{% block head_list %}
    <script src="{% static 'rp/personas/js/list.js' %}"></script>
{% endblock %}

{% block header %}
    {% include 'rp/header.html' %}
{% endblock %}

{% block filtrostable %}

{% endblock %}

{% block contenttable %}
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Tipo</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Cedula</th>
        <th scope="col">Opciones</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
{% endblock %}

{% block script %}

{% endblock %}