{% extends 'list.html' %}

{% load static %}

{% block head_list %}

{% endblock %}

{% block filtrostable %}
    <li class="nav-item">
        <a rel="search" data-id="0" data-action="searchdata" data-type="todo" class="nav-link"
           style="cursor: pointer">
            <i class="far fa-list-alt"></i>
            <p>Todo <i class="right fas fa-angle-left"></i></p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-building"></i>
            <p>
                Mes
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview" style="display: none;">
            {% for mes in meses %}
                <li class="nav-item">
                    <a rel="search" data-id="{{ mes.id }}" data-action="searchdata" data-type="mes"
                       class="nav-link"
                       style="cursor: pointer">
                        <i class="far fa-circle nav-icon"></i>
                        <p>{{ mes.nombre }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-building"></i>
            <p>
                Año
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview" style="display: none;">
            {% for year in years %}
                <li class="nav-item">
                    <a rel="search" data-id="{{ year }}" data-action="searchdata" data-type="year"
                       class="nav-link"
                       style="cursor: pointer">
                        <i class="far fa-circle nav-icon"></i>
                        <p>{{ year.year }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endblock %}

{% block contenttable %}
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Laboratorio</th>
        <th scope="col">Mes</th>
        <th scope="col">Año</th>
        <th scope="col">Detalles</th>
        <th scope="col">Archivar</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
{% endblock %}

{% block buttons_list %}
    {% if request.user.is_laboratory_worker %}
        <a href="{{ create_url }}" class="btn btn-primary btn-flat">
            <i class="fas fa-plus"></i>
            Nuevo registro
        </a>
    {% endif %}
    <button id="btnSync" type="button" class="btn btn-primary btn-success">
        <i class="fas fa-sync"></i>
        Actualizar
    </button>
{% endblock %}

{% block script %}
    {% include 'informesmensuales/modal/verdetalles.html' %}
    {% include 'informesmensuales/modal/verdesglose.html' %}
    {% if request.user.is_representative %}

    {% elif request.user.is_grocer %}

    {% elif request.user.is_laboratory_worker %}
        <script src="{% static 'informesmensuales/js/list.js' %}"></script>
    {% endif %}
{% endblock %}