<div id="modalstock" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <form id="frmstock" method="post" action=".">
            {% csrf_token %}
            <input type="hidden" name="id_solicitud" value=""/>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Stock de sustancia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="id_cantidad_total">Cantidad total:</label>
                        <input type="text" name="cantidad_total" class="form-control" autocomplete="off"
                               readonly id="id_cantidad_total" value="0">
                    </div>
                    <table id="tbstock" class="table" style="width: 100%">
                        <thead>
                        <th scope="col">#</th>
                        {% if request.user.is_representative %}
                            <th scope="col">Lugar</th>
                        {% endif %}
                        <th scope="col">Nombre</th>
                        <th scope="col">Cantidad</th>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </form>
    </div>
</div>