{% extends 'list.html' %}

{% load static %}

{% block filtrostable %}
    <li class="nav-item">
        <a rel="search" data-id="0" data-action="searchdata" data-type="todo" class="nav-link"
           style="cursor: pointer">
            <i class="far fa-list-alt"></i>
            <p>Todo <i class="right fas fa-angle-left"></i></p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="far fa-calendar-alt"></i>
            <p>
                Unidad medida
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview" style="display: none;">
            {% for unidad in unidades %}
                <li class="nav-item">
                    <a rel="search" data-id="{{ unidad.id }}" data-action="searchdata" data-type="un_med"
                       class="nav-link"
                       style="cursor: pointer">
                        <i class="far fa-circle nav-icon"></i>
                        <p>{{ unidad.nombre }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endblock %}

{% block contenttable %}
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cupo autorizado</th>
        <th scope="col">Unidad de medida</th>
        <th scope="col">Detalles</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
{% endblock %}

{% block buttons_list %}
    {% if request.user.is_representative %}
        <a href="{{ create_url }}" class="btn btn-primary btn-flat">
            <i class="fas fa-plus"></i>
            Nuevo registro
        </a>
    {% endif %}
    <button id="btnSync" type="button" class="btn btn-primary btn-success">
        <i class="fas fa-sync"></i>
        Actualizar
    </button>
{% endblock %}

{% block script %}
    {% include 'observacion.html' %}
    {% include 'sustancia/modal/verStock.html' %}
    {% if request.user.is_representative %}
        <script src="{% static 'sustancia/js/list.js' %}"></script>
    {% elif request.user.is_laboratory_worker %}
        <script src="{% static 'sustanciastl/js/list.js' %}"></script>
    {% elif request.user.is_grocer %}
        <script src="{% static 'sustanciabdg/js/list.js' %}"></script>
    {% endif %}
{% endblock %}