{% extends 'list.html' %}

{% load static %}

{% block header %}
    {% include 'headerrp.html' %}
{% endblock %}

{% block filtrostable %}

{% endblock %}

{% block contenttable %}
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Cupo autorizado</th>
        <th scope="col">Unidad de medida</th>
        <th scope="col">Opciones</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
{% endblock %}

{% block script %}
    <script src="{% static 'sustancia/js/list.js' %}"></script>
{% endblock %}