{% extends 'rp/indexrp.html' %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0"> Representante Técnico <small>CSCSF-UTEQ</small></h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Layout</a></li>
                            <li class="breadcrumb-item active">Top Navigation</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
     <!-- Main content -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
                        <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="card-title m-0">Registrar Compras</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Registro de compras de Sustancias sujetas a fiscalización.</p>
                            <a href="#" class="btn btn-primary">ir</a>
                        </div>
            </div><!-- /.card -->
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="card-title m-0">Solicitud - Entrega de sustancias</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Registro de solicitud de entrega de Sustancias sujetas a
                                fiscalización.</p>
                            <a href="#" class="btn btn-primary">ir</a>
                        </div>
                    </div>
          </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-6">
              <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="card-title m-0">Movimiento de Inventario</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Visualizar movimientos de inventario</p>
                            <a href="#" class="btn btn-primary">ir</a>
                        </div>
              </div>
              <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="card-title m-0">Stock de sustancias</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Visualizar stock de sutancias.</p>
                            <a href="#" class="btn btn-primary">ir</a>
                        </div>
              </div>
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  <!-- /.content-wrapper -->
    <!-- /.content -->
{% endblock %}