{% extends 'create.html' %}
{% load static %}
{% block header %}
    {% include 'headerrp.html' %}
{% endblock %}
{% block head_list %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
{% endblock %}

{% block script %}
    <script src="{% static 'bodega/js/create.js' %}"></script>
{% endblock %}