{% extends 'list.html' %}

{% load static %}

{% block filtrostable %}

{% endblock %}

{% block contenttable %}
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Dirección</th>
        <th scope="col">Responsable</th>
        {% if request.user.is_representative %}
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    </tbody>
{% endblock %}

{% block buttons_list %}
    {% if request.user.is_representative %}
        <a href="{{ create_url }}" class="btn btn-primary btn-flat">
            <i class="fas fa-plus"></i>
            Nuevo registro
        </a>
    {% endif %}
    <button rel="btnSync" type="button" class="btn btn-primary btn-success">
        <i class="fas fa-sync"></i>
        Actualizar
    </button>
{% endblock %}

{% block script %}
    {% if request.user.is_representative %}
        <script src="{% static 'bodega/js/list.js' %}"></script>
    {% elif request.user.is_grocer %}
        <script src="{% static 'bodegabdg/js/list.js' %}"></script>
    {% endif %}

{% endblock %}