<!-- Main content -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h5 class="card-title m-0">Solicitudes</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Solicitudes de entrega de sustancias.</p>
                        <a href="{% url 'tl:solicitudes' %}" class="btn btn-primary">ir</a>
                    </div>
                </div>
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h5 class="card-title m-0">Stock de sustancias</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Visualizar stock de sutancias.</p>
                        <a href="{% url 'rp:sustancias' %}" class="btn btn-primary">ir</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
