{% extends 'main.html' %}
{% block header %}
    {% if request.user.is_representative %}
        {% include 'headerrp.html' %}
    {% elif request.user.is_grocer %}
        {% include 'headerbdg.html' %}
    {% elif request.user.is_laboratory_worker %}
        {% include 'headertl.html' %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if request.user.is_representative %}
        {% include 'homerp.html' %}
    {% elif request.user.is_grocer %}
        {% include 'homebdg.html' %}
    {% elif request.user.is_laboratory_worker %}
        {% include 'hometl.html' %}
    {% endif %}
{% endblock %}