{% extends 'create.html' %}

{% load static %}

{% block head_list %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
{% endblock %}

{% block detallesform %}
    {% if request.user.is_representative %}
        {% if action == 'edit' %}
            <input type="hidden" name="id_persona" value="{{ form.instance.id }}"/>
        {% endif %}
        <button rel="add_user" type="button" class="btn btn-secondary btn-flat btn-block">
            <i class="fas fa-user-plus"></i>
            Agregar usuario
        </button>
        <br>
        <table id="tbroles" class="table" style="width: 100%">
            <thead>
            <tr>
                <th scope="col" style="width: 5%">#</th>
                <th scope="col" style="width: 40%">Correo</th>
                <th scope="col" style="width: 20%">Rol</th>
                <th scope="col" style="width: 20%">Estado</th>
                <th scope="col" style="width: 15%">Acciones</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="icon fas fa-info"></i> Nota!</h5>
            Solo seran validos usuarios con correo intitucional admitidos para registro.<br>
            No podra tener mas de un usuario por cada rol.<br>
            Para evitar inconvenietes futuros, es recomendable que se ingrese informacion real y lo mas completa
            posible.<br>
            Si crea mas de un usuario por persona, solo podra agregar un usuario por cada rol de sistema.
        </div>
    {% endif %}
{% endblock %}

{% block send_form %}
    <script type="application/javascript">
        $(function () {
            //envio de datos al servidor
            $('form').on('submit', function (event) {
                event.preventDefault();
                let form = this;
                let action_save = $(event.originalEvent.submitter).attr('rel');
                let parameters = new FormData(form);
                disableEnableForm(form, true);
                {% if request.user.is_representative %}
                    parameters.append('usuarios', JSON.stringify(usuarios.data.usuarios));
                    parameters.delete("id_persona")
                    parameters.delete("email")
                    parameters.delete("roles")
                    parameters.delete("estados")
                    usuarios.verify_send_data(function () {
                        submitForm(parameters, action_save, form);
                    }, function (message) {
                        disableEnableForm(form, false);
                        message_info(message);
                    });
                {% elif request.user.is_laboratory_worker %}
                    submitForm(parameters, action_save, form);
                {% endif %}
            });

            function submitForm(parameters, action_save, form) {
                submit_with_ajax(
                    window.location.pathname, parameters
                    , 'Confirmación'
                    , '¿Estas seguro de realizar la siguiente acción?'
                    , function (data) {
                        if (action_save === 'save') location.href = '{{ url_list }}';
                        else if (action_save === 'othersave') location.reload();
                    }, function () {
                        disableEnableForm(form, false);
                    }
                );
            }
        });
    </script>
{% endblock %}

{% block script %}
    {% if request.user.is_representative %}
        {% if action == 'add' %}
            <script src="{% static 'personas/js/create.js' %}"></script>
        {% elif action == 'edit' %}
            <script src="{% static 'personas/js/update.js' %}"></script>
        {% endif %}
    {% endif %}
{% endblock %}