{% extends 'list.html' %}

{% load static %}

{% block filtrostable %}

{% endblock %}

{% block contenttable %}
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Cedula</th>
        {% if request.user.is_representative %}
            <th scope="col">Usuarios</th>
        {% endif %}
        {% if request.user.is_representative or request.user.is_laboratory_worker %}
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
        {% endif %}

    </tr>
    </thead>
    <tbody>

    </tbody>
{% endblock %}

{% block script %}
    {% if request.user.is_representative %}
        {% include 'personas/modal/verusuarios.html' %}
        <script src="{% static 'personas/js/list.js' %}"></script>
    {% elif request.user.is_laboratory_worker %}
        <script src="{% static 'personastl/js/list.js' %}"></script>
    {% endif %}
{% endblock %}