<div id="modalDetalleConsumoSustanciaInforme" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <form id="frmDetalleConsumoSustanciaInforme" method="post" action=".">
            {% csrf_token %}
            <input type="hidden" name="id_detalle" value=""/>
            <input type="hidden" name="sustancia_id" value=""/>
            <input type="hidden" name="sustancia_nombre" value=""/>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Desglose</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <button rel="add_consumo" type="button" class="btn btn-secondary btn-flat btn-block">
                        <i class="fas fa-user-plus"></i>
                        Agregar consumo
                    </button>
                    <br>
                    <table id="tbdesglosesustanciainforme" class="table">
                        <thead>
                        <tr>
                            <th scope="col"><label>Solicitud: </label></th>
                            <th scope="col"><label>Cantidad Solicitada: </label></th>
                            <th scope="col"><label>Investigador/Docente: </label></th>
                            <th scope="col"><label>Cantidad consumida total: </label></th>
                            <th scope="col"><label>Cantidad consumida: </label></th>
                            <th scope="col"><label>Cantidad disponible: </label></th>
                            <th scope="col"><label>Acciones: </label></th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Recibir</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>