{% extends 'list.html' %}

{% load static %}

{% block head_list %}
    <link href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>

    <script src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>
    <script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>

    <script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>
    <link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>

    <link href="{% static 'compras/css/create.css' %}" rel="stylesheet"/>
{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}
    <div class="content">
        <div class="card card-default">
            <form method="post" action="." enctype="multipart/form-data">
                <input type="hidden" name="action" value="{{ action }}"/>
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-{{ icontitle }}"></i>
                        {{ title }}
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card card-secondary">
                                <div class="card-header">
                                    <h3 class="card-title"><i class="fas fa-boxes"></i> Detalle de sustancias a ingresar
                                    </h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Buscador de sustancias:</label>
                                        <div class="input-group">
                                            <input name="search"
                                                   placeholder="Ingrese el nombre de la sustancia a buscar"
                                                   autocomplete="off" type="text" class="form-control">
                                            <span class="input-group-append">
                                            <button type="button" rel="cleansearch" class="btn btn-danger btn-flat">
                                                <i class="fas fa-times"></i>
                                            </button>
                                        </span>
                                        </div>
                                    </div>
                                    <hr>
                                    <button rel="removeall" type="button" class="btn btn-danger btn-xs btn-flat">
                                        Eliminar todas las sustancias
                                    </button>
                                    <hr>
                                    <table id="tblistado" class="table">
                                        <thead>
                                        <th scope="col">Accion</th>
                                        <th scope="col">Sustancia</th>
                                        <th scope="col">Lugar ingreso</th>
                                        <th scope="col">Cantidad ingreso</th>
                                        <th scope="col">Cantidad actual</th>
                                        <th scope="col">Cupo autorizado</th>
                                        <th scope="col">Unidad de medida</th>
                                        </thead>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-secondary">
                                <div class="card-header">
                                    <h3 class="card-title"><i class="fas fa-atom"></i> Datos de la compra</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Proveedor:</label>
                                        {{ form.empresa }}
                                    </div>
                                    <div class="form-group">
                                        <label>Fecha de llegada a bodega:</label>
                                        <div class="input-group date" id="llegada_bodega" data-target-input="nearest">
                                            {{ form.llegada_bodega }}
                                            <div class="input-group-append" data-target="#llegada_bodega"
                                                 data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label>Hora de llegada a bodega:</label>
                                        <div class="input-group date" id="hora_llegada_bodega"
                                             data-target-input="nearest">
                                            {{ form.hora_llegada_bodega }}
                                            <div class="input-group-append" data-target="#hora_llegada_bodega"
                                                 data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-clock"></i></div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="form-group">
                                        <label>N° convocatoria:</label>
                                        {{ form.convocatoria }}
                                    </div>
                                    <div class="form-group">
                                        <label>Pedido de compras publicas:</label>
                                        {{ form.pedido_compras_publicas }}
                                    </div>
                                    <div class="form-group">
                                        <label>Guia de transporte:</label>
                                        {{ form.guia_transporte }}
                                    </div>
                                    <div class="form-group">
                                        <label>Factura:</label>
                                        {{ form.factura }}
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    {% csrf_token %}
                    <button rel="save" type="submit" class="btn btn-primary btn-flat">
                        <i class="fas fa-save"></i>
                        {% if action == 'add' %}
                            Guardar registro
                        {% elif action == 'edit' %}
                            Actualizar registro
                        {% endif %}
                    </button>
                    {% if action == 'add' %}
                        <button rel="othersave" type="submit" class="btn btn-secondary btn-flat">
                            <i class="fas fa-random"></i>
                            Guardar y añadir otro
                        </button>
                    {% endif %}
                    <a href="{{ url_list }}" class="btn btn-primary btn-danger">
                        <i class="fas fa-times"></i>
                        Cancelar
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    {% if action == 'add' %}
        <script src="{% static 'compras/js/create.js' %}"></script>
    {% elif action == 'edit' %}
        <script src="{% static 'compras/js/edit.js' %}"></script>
    {% endif %}


    <script type="application/javascript">
        $(function () {
            //envio de datos al servidor
            $('form').on('submit', function (event) {
                event.preventDefault();
                let form = this;
                let action_save = $(event.originalEvent.submitter).attr('rel');
                compra.verify_send_data(function () {
                    let parameters = new FormData(form);

                    {% if action == 'add' %}
                        parameters.append('sustancias', JSON.stringify(compra.data.sustancias));
                    {% elif action == 'edit' %}
                        parameters.append('detalle_compra', JSON.stringify(compra.data.detalleCompra));
                    {% endif %}

                    disableEnableForm(form, true);
                    submit_with_ajax(
                        window.location.pathname, parameters
                        , 'Confirmación'
                        , '¿Estas seguro de realizar la siguiente acción?'
                        , function (data) {
                            if (action_save === 'save') location.href = '{{ url_list }}';
                            else if (action_save === 'othersave') location.reload();
                        }, function () {
                            disableEnableForm(form, false);
                        }
                    );
                }, function () {
                    message_info('¡Deben existir sustancias en el detalle para guardar la informacón de la compra!');
                });
            });
        });
    </script>

{% endblock %}