{% extends 'list.html' %}

{% load static %}

{% block filtrostable %}
    <li class="nav-item">
        <a rel="search" data-id="0" data-action="searchdata" data-type="todo" class="nav-link"
           style="cursor: pointer">
            <i class="far fa-list-alt"></i>
            <p>Todo <i class="right fas fa-angle-left"></i></p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-building"></i>
            <p>
                Estados
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview" style="display: none;">
            {% for estado in estados %}
                <li class="nav-item">
                    <a rel="search" data-id="{{ estado.id }}" data-action="searchdata" data-type="est" class="nav-link"
                       style="cursor: pointer">
                        <i class="far fa-circle nav-icon"></i>
                        <p>{{ estado.estado }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-building"></i>
            <p>
                Convocatoria
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview" style="display: none;">
            {% for convocatoria in convocatorias %}
                <li class="nav-item">
                    <a rel="search" data-id="{{ convocatoria.convocatoria }}" data-action="searchdata" data-type="conv"
                       class="nav-link" style="cursor: pointer">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Convocatoria {{ convocatoria.convocatoria }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="far fa-calendar-alt"></i>
            <p>
                Empresas
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview" style="display: none;">
            {% for empresa in empresas %}
                <li class="nav-item">
                    <a rel="search" data-id="{{ empresa.id }}" data-action="searchdata" data-type="emp"
                       class="nav-link"
                       style="cursor: pointer">
                        <i class="far fa-circle nav-icon"></i>
                        <p>{{ empresa.nombre }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endblock %}

{% block contenttable %}
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Empresa</th>
        <th scope="col">Llegada a bodega</th>
        <th scope="col">Hora llegada</th>
        <th scope="col">Convocatoria</th>
        <th scope="col">Estado</th>
        <th scope="col">Detalles</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
{% endblock %}

{% block buttons_list %}
    {% if request.user.is_representative %}
        <a href="{{ create_url }}" class="btn btn-primary btn-flat">
            <i class="fas fa-plus"></i>
            Nuevo registro
        </a>
    {% endif %}
    <button id="btnSync" type="button" class="btn btn-primary btn-success">
        <i class="fas fa-sync"></i>
        Actualizar
    </button>
{% endblock %}

{% block script %}
    <script src="{% static 'compras/js/list.js' %}"></script>
{% endblock %}
