{% extends 'list.html' %}

{% load static %}

{% block header %}
    {% include 'header.html' %}
    {% include 'comprasbdg/modal/createFolder.html' %}
{% endblock %}

{% block filtrostable %}
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-building"></i>
            <p>
                Laboratorio
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview" style="display: none;">
            {% for laboratorio in laboratorios %}
                <li class="nav-item">
                    <a href="../charts/chartjs.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>{{ laboratorio.nombre }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endblock %}

{% block contenttable %}
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Empresa</th>
        <th scope="col">Llegada a bodega</th>
        <th scope="col">Hora llegada</th>
        <th scope="col">Convocatoria</th>
        <th scope="col">Pedido de compras publicas</th>
        <th scope="col">Factura</th>
        <th scope="col">Guia transporte</th>
        <th scope="col">Estado</th>
        {% if request.user.is_representative %}
            <th scope="col">Opciones</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>

    </tbody>
{% endblock %}
{% block script %}
    {% if request.user.is_representative %}
        <script src="{% static 'compras/js/list.js' %}"></script>
    {% elif request.user.is_grocer %}
        {% include 'comprasbdg/modal/confirmarCompra.html' %}
        {% include 'solicitudbdg/modal/justRevision.html' %}
        <script src="{% static 'comprasbdg/js/list.js' %}"></script>
    {% elif request.user.is_laboratory_worker %}
        <script src="{% static 'compras/js/list.js' %}"></script>
    {% endif %}
{% endblock %}
