{% extends 'list.html' %}

{% load static %}

{% load custom_filters %}

{% block filtrostable %}
    <li class="nav-item">
        <a rel="search" data-action="searchdata" data-year="0" data-mes="0"
           data-sus_id="0"
           class="nav-link" style="cursor: pointer">
            <i class="far fa-list-alt"></i>
            <p>Todo <i class="right fas fa-angle-left"></i></p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="far fa-calendar-times"></i>
            <p>
                Sustancias
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview" style="display: none;">
            {% for sustancia in sustancias %}
                <li class="nav-item">
                    <a rel="search" data-action="searchdata" data-year="0"
                       data-mes="0"
                       data-sus_id="{{ sustancia.id }}"
                       class="nav-link" style="cursor: pointer">
                        <i class="far fa-circle nav-icon"></i>
                        <p>{{ sustancia.nombre }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
    {% for year in years_disp %}
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="far fa-calendar-times"></i>
                <p>
                    {{ year.anio }}
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
                {% for mes in meses %}
                    <li class="nav-item">
                        <a rel="search" data-action="searchdata"
                           data-year="{{ year.anio }}"
                           data-mes="{{ mes.id }}" data-sus_id="0"
                           class="nav-link"
                           style="cursor: pointer">
                            <i class="far fa-circle nav-icon"></i>
                            <p>{{ mes.nombre }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
{% endblock %}

{% block contenttable %}
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Sustancia</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Tipo movimiento</th>
        <th scope="col">Fecha movimiento</th>
        <th scope="col">Mes</th>
        <th scope="col">Año</th>
        {% if request.user.is_representative %}
            <th scope="col">Tipo Lugar</th>
            <th scope="col">Lugar</th>
        {% elif request.user.is_grocer %}
            <th scope="col">Bodega</th>
        {% elif request.user.is_laboratory_worker %}
            <th scope="col">Laboratorio</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>

    </tbody>
{% endblock %}

{% block buttons_list %}
    <button rel="btnSync" type="button" class="btn btn-primary btn-success">
        <i class="fas fa-sync"></i>
        Actualizar
    </button>
{% endblock %}

{% block script %}
    {% if request.user.is_representative %}
        <script src="{% static 'movimientoinventario/js/list.js' %}"></script>
    {% elif request.user.is_grocer %}
        <script src="{% static 'movimientoinventariobdg/js/list.js' %}"></script>
    {% elif request.user.is_laboratory_worker %}
        <script src="{% static 'movimientosinventariotl/js/list.js' %}"></script>
    {% endif %}
{% endblock %}