{% extends 'list.html' %}

{% load static %}

{% block filtrostable %}

{% endblock %}

{% block contenttable %}
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Sustancia</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Mes</th>
        <th scope="col">Año</th>
        <th scope="col">Lugar</th>
        <th scope="col">Nombre lugar</th>
        <th scope="col">Unidad de medida</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
{% endblock %}

{% block script %}
    {% if request.user.is_representative %}
        <script src="{% static 'movimientoinventario/js/list.js' %}"></script>
    {% elif request.user.is_grocer %}

    {% elif request.user.is_laboratory_worker %}
        <script src="{% static 'movimientosinventariotl/js/list.js' %}"></script>
    {% endif %}
{% endblock %}