{% extends 'list.html' %}

{% block header %}
    {% include 'headerrp.html' %}
{% endblock %}

{% block filtrostable %}

{% endblock %}

{% block contenttable %}
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre empresa</th>
        <th scope="col">Ruc</th>
        <th scope="col">Opciones</th>
    </tr>
    </thead>
    <tbody>
    {% for empresa in object_list %}
        <tr>
            <th scope="row">{{ empresa.id }}</th>
            <td>{{ empresa.nombre }}</td>
            <td>{{ empresa.ruc }}</td>
            <td>
                <button type="button" class="btn btn-primary"><i class="fas fa-edit"></i></button>
                <button type="button" class="btn btn-primary"><i class="fas fa-trash-alt"></i></button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}