<div id="modalSendObs" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <form id="frmSendObs" method="post" action=".">
            {% csrf_token %}
            <input type="hidden" name="id" value=""/>
            <input type="hidden" name="action" value=""/>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">titulo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div style="display: flex">
                            <div style="font-size: 0.5rem; margin-right: 3px; margin-top: 4px;">
                                <i class="fa fa-asterisk fa-xs" aria-hidden="true"
                                   style="color: red"></i>
                            </div>

                            <label>Observación:</label>
                        </div>
                        <textarea name="observacion" required cols="40" rows="10" class="form-control" maxlength="500" id="id_observacion"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button rel="btnEnviarObs" type="submit" class="btn btn-danger">Revisión</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>