{% extends 'list.html' %}

{% load static %}

{% block head_list %}
    <script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>
    <link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>
{% endblock %}

{% block filtrostable %}

{% endblock %}

{% block contenttable %}
    <thead>
    <tr>
        <th scope="col">#</th>
        {% if request.user.is_representative or request.user.is_grocer %}
            <th scope="col">Solicitante</th>
        {% endif %}
        <th scope="col">Laboratorio</th>
        <th scope="col">Actividad</th>
        <th scope="col">Documento</th>
        <th scope="col">Fecha autorización</th>
        <th scope="col">Estado</th>
        {% if request.user.is_laboratory_worker %}
            <th scope="col">Detalles</th>
            <th scope="col">Opciones</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    </tbody>
{% endblock %}
{% block buttons_list %}
    {% if request.user.is_laboratory_worker %}
        <a href="{{ create_url }}" class="btn btn-primary btn-flat">
            <i class="fas fa-plus"></i>
            Nuevo registro
        </a>
    {% endif %}
    <button id="btnSync" type="button" class="btn btn-primary btn-success">
        <i class="fas fa-sync"></i>
        Actualizar
    </button>
{% endblock %}

{% block script %}
    {% if request.user.is_representative %}
        {% include 'solicitud/modal/autorizarSolicitud.html' %}
        {% include 'sendObs.html' %}
        <script src="{% static 'solicitud/js/list.js' %}"></script>
    {% elif request.user.is_grocer %}
        {% include 'solicitudbdg/modal/entregaSustanciaSolicitud.html' %}
        {% include 'sendObs.html' %}
        <script src="{% static 'solicitudbdg/js/list.js' %}"></script>
    {% elif request.user.is_laboratory_worker %}
        {% include 'observacion.html' %}
        {% include 'solicitudtl/modal/verdetalles.html' %}
        <script src="{% static 'solicitudtl/js/list.js' %}"></script>
    {% endif %}
{% endblock %}