{% extends 'list.html' %}

{% load static %}

{% block head_list %}
    <script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>
    <link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>
{% endblock %}

{% block filtrostable %}
    <li class="nav-item">
        <a rel="search" data-id="0" data-action="searchdata" data-type="todo" class="nav-link"
           style="cursor: pointer">
            <i class="far fa-list-alt"></i>
            <p>Todo <i class="right fas fa-angle-left"></i></p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-building"></i>
            <p>
                Laboratorio
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview" style="display: none;">
            {% for laboratorio in laboratorios %}
                <li class="nav-item">
                    <a rel="search" data-id="{{ laboratorio.id }}" data-action="searchdata" data-type="lab"
                       class="nav-link"
                       style="cursor: pointer">
                        <i class="far fa-circle nav-icon"></i>
                        <p>{{ laboratorio.nombre }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="fas fa-unlock-alt"></i>
            <p>
                Estados
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview" style="display: none;">
            {% for estado in estados %}
                <li class="nav-item">
                    <a rel="search" data-id="{{ estado.id }}" data-action="searchdata" data-type="est" class="nav-link"
                       style="cursor: pointer">
                        <i class="far fa-circle nav-icon"></i>
                        <p>{{ estado.estado }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endblock %}

{% block contenttable %}
    <thead>
    <tr>
        <th scope="col">#</th>
        {% if request.user.is_representative or request.user.is_grocer %}
            <th scope="col">Solicitante</th>
        {% endif %}
        <th scope="col">Laboratorio</th>
        <th scope="col">Actividad</th>
        <th scope="col">Documento</th>
        <th scope="col">Codigo solicitud</th>
        <th scope="col">Estado</th>
        <th scope="col">Detalles</th>
        {% if request.user.is_representative %}
            <th scope="col">Aprobar</th>
        {% endif %}
        {% if request.user.is_laboratory_worker %}
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    </tbody>
{% endblock %}
{% block buttons_list %}
    {% if request.user.is_laboratory_worker %}
        <a href="{{ create_url }}" class="btn btn-primary btn-flat">
            <i class="fas fa-plus"></i>
            Nuevo registro
        </a>
    {% endif %}
    <button id="btnSync" type="button" class="btn btn-primary btn-success">
        <i class="fas fa-sync"></i>
        Actualizar
    </button>
{% endblock %}

{% block script %}
    {% include 'solicitudtl/modal/verdetalles.html' %}
    {% if request.user.is_representative %}
        {% include 'solicitud/modal/autorizarSolicitud.html' %}
        {% include 'sendObs.html' %}
        <script src="{% static 'solicitud/js/list.js' %}"></script>
    {% elif request.user.is_grocer %}
        {% include 'solicitudbdg/modal/entregaSustanciaSolicitud.html' %}
        {% include 'sendObs.html' %}
        <script src="{% static 'solicitudbdg/js/list.js' %}"></script>
    {% elif request.user.is_laboratory_worker %}
        {% include 'observacion.html' %}
        <script src="{% static 'solicitudtl/js/list.js' %}"></script>
    {% endif %}
{% endblock %}