{% extends 'list.html' %}

{% load static %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block filtrostable %}

{% endblock %}

{% block contenttable %}
    <thead>
    <tr>
        <th scope="col">#</th>
        {% if request.user.is_representative %}
            <th scope="col">Solicitante</th>
        {% endif %}
        <th scope="col">Laboratorio</th>
        <th scope="col">Actividad</th>
        <th scope="col">Documento</th>
        <th scope="col">Fecha autorización</th>
        <th scope="col">Estado</th>
        <th scope="col">Opciones</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
{% endblock %}
{% block buttons_list %}
    {% if request.user.is_laboratory_worker %}
        <a href="{{ create_url }}" class="btn btn-primary btn-flat">
            <i class="fas fa-plus"></i>
            Nuevo registro
        </a>
    {% endif %}
    <button id="btnSync" type="button" class="btn btn-primary btn-success">
        <i class="fas fa-sync"></i>
        Actualizar
    </button>
{% endblock %}

{% block script %}
    {% if request.user.is_representative %}
        <script src="{% static 'solicitud/js/list.js' %}"></script>
    {% elif request.user.is_grocer %}
        <script src="{% static 'solicitudbdg/js/list.js' %}"></script>
    {% elif request.user.is_laboratory_worker %}
        <script src="{% static 'solicitudtl/js/list.js' %}"></script>
    {% endif %}
{% endblock %}