{% load static %}
<!-- Navbar -->
<nav class="main-header navbar navbar-fixed-top fixed-top navbar-expand-md navbar-light navbar-white">
    <div class="container">
        <a href="{% url 'dashboard' %}" class="navbar-brand">
            <img src="{% static 'img/uteq/logoUTEQoriginal1.png' %}" alt="UTEQ Logo"
                 class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">CSCSF</span>
        </a>

        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{% url 'dashboard' %}" class="nav-link">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false" class="nav-link dropdown-toggle">Inventario</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li>
                            <a href="{% url 'rp:movimientoinventario' %}" class="dropdown-item">Movimientos </a>
                        </li>
                        <li>
                            <a href="{% url 'rp:sustancias' %}" class="dropdown-item">Stock</a>
                            <a href="{% url 'rp:estadomensual' %}" class="dropdown-item">Estado mensual de sustancias</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false" class="nav-link dropdown-toggle">Informes</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li><a href="{% url 'tl:solicitudes' %}" class="dropdown-item">Solicitudes de entrega</a>
                        </li>
                        <li><a href="{% url 'rp:sustancias' %}" class="dropdown-item">Sustancias </a></li>
                        <li><a href="{% url 'rp:personas' %}" class="dropdown-item">Personas</a></li>
                        <li><a href="{% url 'rp:compras' %}" class="dropdown-item">Compras publicas</a></li>
                        <li><a href="{% url 'rp:empresas' %}" class="dropdown-item">Proveedores</a></li>
                        <li><a href="{% url 'rp:laboratorios' %}" class="dropdown-item">Laboratorios</a></li>
                        <li><a href="{% url 'rp:bodegas' %}" class="dropdown-item">Bodegas</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       class="nav-link dropdown-toggle">Registrar</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li><a href="{% url 'rp:registrocompras' %}" class="dropdown-item">Compras publicas</a></li>
                        <li><a href="{% url 'rp:registrosustancias' %}" class="dropdown-item">Sustancias </a></li>
                        <li><a href="{% url 'rp:registrobodega' %}" class="dropdown-item">Bodega</a></li>
                        <li><a href="{% url 'rp:registrolaboratorio' %}" class="dropdown-item">Laboratorio</a></li>
                        <li><a href="{% url 'rp:registropersonas' %}" class="dropdown-item">Personas</a></li>
                        <li><a href="{% url 'rp:registroempresa' %}" class="dropdown-item">Empresa</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       class="nav-link dropdown-toggle">Ayuda</a>
                    <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                        <li><a href="#" class="dropdown-item">Manual de usuario</a></li>
                        <li><a href="#" class="dropdown-item">Preguntas frecuentes</a></li>
                        <li><a href="#" class="dropdown-item">Contactenos</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        {% include 'userActions.html' %}
    </div>
</nav>
<!-- /.navbar -->