{% extends 'list.html' %}

{% block filtrostable %}
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-building"></i>
            <p>
                Laboratorio
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview" style="display: none;">
            {% for laboratorio in laboratorios %}
                <li class="nav-item">
                    <a href="../charts/chartjs.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>{{ laboratorio.nombre }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endblock %}

{% block contenttable %}
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
    </tr>
    </tbody>
{% endblock %}